<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GC reddy Portal Suite">
  <test name="Gc reddy Test">
    <classes>
      
      <class name="testpages.AdminLoginPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
